# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# --- Banco de Dados (Segurança e Integridade) ---
# Não subimos o banco local, pois cada ambiente deve criar o seu
database.db

# --- IDEs e Editores ---
.vscode/
.idea/
*.swp
*.sublime-project

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log